<head>
    <link rel="stylesheet" href="/static/CSS/1.css" type="text/css">
    <link rel="stylesheet" href="/static/CSS/2.css" type="text/css">
    <link rel="stylesheet" href="/static/CSS/3.css" type="text/css">
</head>
<style>
    .login_con_right[data-v-53181476] {
    width: 350px;
    height: 350px;
    background: #fff;
    margin-left: -120px;
    margin-top: -250px;
}
</style>
<body>
<form method="post" action='/login_form/' enctype="multipart/form-data">
    <div data-v-53181476="" class="login_container">
        {% csrf_token %}
        <div data-v-53181476="" class="login_con_right">
            <div data-v-53181476="" class="login_view">
                <div data-v-53181476="" class="login_logo">
                    <div data-v-53181476="" class="login_logo_title" >接口测试平台登录</div>
                <div data-v-53181476="" class="login_input">
                    <form data-v-53181476="" class="el-form">
                        <div data-v-53181476="" class="el-form-item is-required el-form-item--medium"><!---->
                            <div class="el-form-item__content" style="margin-left: 0px;">
                                <div data-v-53181476="" class="el-input el-input--medium el-input--prefix el-input--suffix"><!---->
                                    <input type="test" autocomplete="off" placeholder="请输入您的账号" class="el-input__inner"name="username">
                        <div data-v-53181476="" class="el-form-item is-required el-form-item--medium"><!---->
                            <div class="el-form-item__content" style="margin-left: 0px;">
                                <div data-v-53181476="" class="edit-icon-view">
                                    <div data-v-53181476="" class="el-input el-input--medium el-input--prefix"><!---->
                                        <input type="password" autocomplete="off" id="telephone" placeholder="请输入您的密码" class="el-input__inner" name="password">                                 </div><!----></div>
                        <div data-v-53181476="" class="el-form-item el-form-item--medium"><!---->
                            <div class="el-form-item__content" style="margin-left: 0px;">
                                <button data-v-53181476="" type="submit" class="el-button login_btn el-button--primary el-button--medium">
                                  <span>登 录</span></button>

</body>
</form>